.home-icon{
    position: absolute;
    margin-left: 1430px;
    margin-top: 10%;  
   }


nav {
    &.WorkExp-text{
        margin-top: 120px;
        margin-left: 0px;
        align-content: space-between;
        color: darkslategray;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: x-large;
        
    }


}